.container{
 width : 980px;
 background: #F0F8FF;
 min-height: 700px;
}

body{
  background: black;
}

button,
div,
form,
input {
  margin: 5px;
}

.gifAnimal{
display: inline-block;
height: 250px;
margin-left:10px;	
}

#add-animal,button {
  background: #4aaaa5;
  color: #fff;
  border-radius: 5px;
  border: 2px solid grey;
  padding : 5px;
}

#add-animal{
  clear:both;
}

#animal-form{
float: right;	
}
